:root {
  --submit_hover: #027a1c;
  --icon_color: #6b6b6b;
  --body_gradient_left: #7200d0;
  --input_bg: #e5e5e5;
  --input_hover: #eaeaea;
}

body {
  margin: 0;
  background-image: radial-gradient(
    var(--body_gradient_left),
    var(--submit_hover)
  );
  overflow-x: hidden;
}

.book-icon {
  padding-left: 5px;
  position: relative;
  top: 2px;
  width: 35px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: transparent;
  padding: 6px;
  top: 0.1px;
  z-index: 3;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.projectTitle {
  float: left;
  font-family: "Cinzel", serif;
  font-size: 28pt;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  float: right;
  top: 0;
  z-index: 999;
}

.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-left: 45px;
  padding: 5px;
  font-size: 16pt;
  font-family: "Cinzel", serif;
}

/* SearchBox */
.inputBox {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.searchBox {
  height: 50px;
  width: 40%;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  background: var(--input_bg);
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  border: none;
}

.searchBox:hover {
  background: var(--input_hover);
}

::placeholder {
  color: black;
  font-size: 13pt;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  opacity: 0.7;
}

i {
  position: relative;
  top: 15px;
  left: -25px;
  size: 5rem;
  color: black;
}

/* Book Images*/
.text {
  width: 25%;
  margin: auto;
}

.top-selections {
  font-size: 32pt;
  font-weight: bold;
  font-family: "Cinzel", serif;
  opacity: 0.8;
  text-align: center;
  z-index: 1;
}

.bookSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bookSection img {
  width: 200px;
  height: 300px;
  /* width: 500px;   */
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bookSection img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.bookIMG {
  padding: 5px;
}

.textfield{
	padding: 7px;
	
}

td{
	font-size: 18pt;
}

.button{
	padding: 7px;
	border-radius: 7px;
	outline: none;
	border:none;
	position: relative;
    left: 30%;
}

h1{
	   font-family: 'Cinzel';
}

.form{
	margin: auto;
    padding: 80px;
    width: 40%;
}

.search{
	margin: auto;
    padding: 80px;
    width: 40%;
}